/*
==========================
COLORS
==========================
*/
/*
==========================
FONT
==========================
*/
/*
==========================
BORDERS
==========================
*/
/*
==========================
CONTAINER
==========================
*/
.task-group-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: calc(50vh - 300px);
  padding: 50px;
  width: 600px;
  height: 600px;
  background-color: white;
  border: 1px solid #d1d1d1; }

.header {
  color: #757575;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f7f7;
  display: inline-block; }

.tasks-container {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
  border-bottom: 1px solid #f7f7f7;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "s t t t t t"; }

.all-groups-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #1ba572;
  float: right; }

.task-status-img {
  grid-area: s;
  align-self: center; }

.task-name {
  grid-area: t;
  align-self: center;
  color: #757575; }

.completed-text {
  text-decoration: line-through; }

.locked-task {
  color: #d1d1d1; }
