/*
==========================
COLORS
==========================
*/
$dark-grey: #757575;
$medium-grey: #95989a;
$light-grey: #d1d1d1;
$pale-grey: #f7f7f7;
$theme-green: #1ba572;
/*
==========================
FONT
==========================
*/
$font: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;