/*
==========================
COLORS
==========================
*/
/*
==========================
FONT
==========================
*/
.app-container {
  background-color: #d1d1d1;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Varela Round", sans-serif; }
