/*
==========================
COLORS
==========================
*/
/*
==========================
FONT
==========================
*/
/*
==========================
BORDERS
==========================
*/
/*
==========================
CONTAINER
==========================
*/
.all-task-group-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: calc(50vh - 300px);
  padding: 50px;
  width: 600px;
  height: 600px;
  background-color: white;
  border: 1px solid #d1d1d1; }

.header {
  color: #757575;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f7f7; }

.task-group-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
  border-bottom: 1px solid #f7f7f7;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "s t t t t t"; }

.task-triangle-icon {
  grid-area: s;
  color: #d1d1d1;
  align-self: center; }

.task-group-text {
  grid-area: t; }

.task-group-title {
  font-size: 16px;
  color: #757575;
  font-weight: 700; }

.task-group-tasks-count {
  color: #95989a;
  font-size: 14px; }
